.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    clear: both; 
    background-color: orange
};

#img {
	align-content: center;
}

#available {
    float: left
}

body {
    background-color: orange;
}